/* stylelint-disable no-descending-specificity */
/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable selector-id-pattern */
/* stylelint-disable selector-class-pattern */
.sectionLeft {
  float: left;
  width: 80%;
}

.sectionRight {
  float: right;
  width: 20%;
}

.scoreContainer {
  background-color: rgb(238 238 238 / 60%);
  width: 50%;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  font-size: 24px;
  font-weight: bold;
}

.makeCenter {
  text-align: center;
}

/* .clickerContainer img {
  position: relative;
  transition: all 0.2s ease-in-out;
}

.clickerContainer img:hover {
  transform: scale(1.1);
}

.clickerContainer img:active {
  transform: scale(0.99);
} */

#clicker {
  margin-left: auto;
  margin-right: auto;
  background-image: url('./images/salsa.png');
  background-size: contain;
  position: relative;
  transition: all 0.2s ease-in-out;
  height: 256px;
  width: 256px;
}

#clicker:hover {
  transform: scale(1.1);
}

#clicker:active {
  transform: scale(0.99);
}

#clicker > .number {
  z-index: 99;
  font-size: 36px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  color: white;
  position: absolute;
}

.shopButton {
  background-color: #b5b5b5;
  transition: all 0.2s ease-in-out;
  border-radius: 10px;
  width: 100%;
  margin: 10px 0;
}

.shopButton:hover {
  background-color: #c7c7c7;
  transition: all 0.2s ease-in-out;
}

.shopButton #image {
  width: 25%;
}

.shopButton img {
  height: 64px;
  width: 64px;
}

.shopButton #nameAndCost p {
  margin: 0;
  width: 60%;
}

.shopButton #nameAndCost p:first-of-type {
  font-size: 24px;
}

.shopButton #amount {
  font-size: 48px;
  color: #595959;
  font-family: roboto, serif, arial, helvetica;
  width: 15%;
}

.sectionFooter {
  margin-top: 20%;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#upgradeContainer img {
  height: 64px;
  width: 64px;
}

#achievementContainer img {
  height: 64px;
  width: 64px;
}
